.center
  - (1..Destination.per_page).each do |i|
    .destination
      .heading{id: "heading#{i}"}
      .map{id: "map#{i}"}
      .pano{id: "pano#{i}"}
  #pagination
    = will_paginate @posts, id: 'pagination', class: 'pagination-centered', previous_label: '←', next_label: '→', inner_window: 1, outer_window: 0

:javascript
  $(function() {
    var destinations = '#{destinations}';
    $.each(JSON.parse(destinations), function(i, destination) {
      addDestiantion(i, destination)
    });
  });