.container
  %select#countries{'data-placeholder' => 'Choose a country...', :style => "width:260px;", :tabindex => "1"}
    %option
    - @countries.each do |i|
      %option{:value => i.country, :selected => (i.country == params[:country] ? 'selected' : nil)}
        = "#{i.country} (#{i.cnt} panos)"
  .clearfix
  - (1..@destinations.length).each do |i|
    .destination
      .heading{id: "heading#{i}"}
      .map{id: "map#{i}"}
      .pano{id: "pano#{i}"}
  = will_paginate @posts, previous_label: '←', next_label: '→', inner_window: 2, outer_window: 0

:javascript
  $(function() {
    $('#countries').chosen({
      allow_single_deselect: true
    }).change(function(e){
      window.location = '/?country=' + $(e.target).val();
    });
    var destinations = '#{destinations}';
    $.each(JSON.parse(destinations), function(i, destination) {
      addDestiantion(i, destination);
    });
  });